.dev-header {
  opacity: 0.4;
  color: #03dc2c;
  font-size: 50px;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  @include md {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  }
}

.grid-header {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.dev-header-container {
  height: 50px;
}
.body-font {
  font-size: clamp(0.9rem, 0.3536rem + 2.4286vw, 1.75rem);
  line-height: clamp(1.2rem, 0.6857rem + 2.2857vw, 2rem);
}
.header-name {
  font-size: clamp(0.9rem, 0.3536rem + 2.4286vw, 1.75rem);
  line-height: clamp(0.9rem, 0.3536rem + 2.4286vw, 1.75rem);
}
.header-developer {
  font-size: clamp(1.5rem, 0.2143rem + 5.7143vw, 3.5rem);
  line-height: clamp(1.5rem, 0.2143rem + 5.7143vw, 3.5rem);
}
.header-designer {
  font-size: clamp(2rem, 0.2321rem + 7.8571vw, 4.75rem);
  line-height: clamp(2rem, 0.2321rem + 7.8571vw, 4.75rem);
}
.scroll-size {
  font-size: clamp(0.9rem, 0.3536rem + 2.4286vw, 1.75rem);
  line-height: clamp(0.9rem, 0.3536rem + 2.4286vw, 1.75rem);
}
// animations
.hidden-bottom {
  opacity: 1;
  filter: blur(0px);
}
.animate-slidefromtop {
  animation-name: slidefromtop;
  animation-duration: 2s;
}
.animate-blurin {
  animation-name: blurin;
  animation-duration: 3s;
}
@keyframes blurin {
  from {
    opacity: 0;
    filter: blur(1px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slidefromtop {
  from {
    transform: translateY(-800px);
  }
  to {
    transform: translateY(0);
  }
}
